        <style>
            #attr_show{float: left;}
            .nav{height: 520px;width: 215px;background-color: #FD9860;border-radius: 10px;color: white;}
            .nav a{text-decoration: none;color: black;transition-duration: 0.2s;}
            .nav a:hover{color: #FD9860;}
            .tl{padding: 15px 0 10px 20px;font-size: 20px;}
            .lv1{transition-duration:0.4s;height:32px;padding: 15px 0 10px 20px;}
            .lv1:hover{background-color:#FFCC33;}
            .lv1 img{float: left;width: 32px;height:32px;}
            .lv1 a{text-decoration: none;color:white;}
            [name="attr_list"] img:hover{opacity: 0.5;}
        </style>
        <div id="attr_show">
            <div class="nav">
                <div class="tl">商品类目</div>
                <div v-for="cl_lv_1 in attr_list" @mouseover="show(cl_lv_1)" @mouseout="hide" class="lv1">
                    <img :src="nav_head(cl_lv_1.name,true,1)">
                    <div style="margin:2px 0 0 5px;float:left;"><a :href="nav_head(cl_lv_1.name,false,1)" style="font-size:18px;">{{cl_lv_1.name}}</a></div>
                </div>
                <div :style="lv2" @mouseover="show()" @mouseout="hide">
                    <div :style="lv2_show(catagory.name)" v-for="item in catagory.cl_lv_2">
                        <div style="border-bottom:1px solid #FD9860;">
                            <img :src="nav_head(item.name,true,2)" style="width:25px;height:25px;">
                            <a :href="nav_head(item.name,false,2)" style="font-size:16px;">{{item.name}}</a>
                        </div>
                        <list_content name="attr_list" :info="item"></list_content>
                    </div>
                </div>
            </div>
        </div>
        <script>
        $(document).ready(function(){
            (function(){
                var cl_lv_1 = [
                    {name:"实体商品",cl_lv_2:[
                        {name:"开学季",cl_lv_3:['全部','军训物资','二手教材书','学霸笔记','被子','电话卡','其他']},
                        {name:"电子产品",cl_lv_3:['全部','手机配件','电脑配件','其他']},
                        {name:"吃喝",cl_lv_3:['全部','零食','特产','饮品','其他']},
                        {name:"乐器",cl_lv_3:['全部','吉他','小提琴','尤克里里','口琴','其他']},
                        {name:"生活用品",cl_lv_3:['全部','床上用品','学习用品','洗漱用品','日常用品','其他']},
                        {name:"体育用品",cl_lv_3:['全部','球类','竞技类','有氧类','健身类','其他']},
                        {name:"书类",cl_lv_3:['全部','教材','课外书','杂志订阅','GRE','雅思托福','学霸笔记','复习材料','其他']},
                        {name:"服饰",cl_lv_3:['全部','男装','女装','鞋','帽','围巾','手套','其他']},
                        {name:"服装定制",cl_lv_3:[]},
                    ]},
                    {name:"非实体商品",cl_lv_2:[
                        {name:"轰趴聚会"},
                        {name:"北京周边游"},
                        {name:"摄影"},
                        {name:"设计"},
                        {name:"视频"},
                        {name:"乐器培训"},
                        {name:"ppt"},
                    ]},
                ]
                Vue.component('list_content',{
                    props:['info'],
                    template:'<div v-if="info.cl_lv_3 != null">\
                        <div v-for="goods in info.cl_lv_3" style="font-size:12px;width:70px;float:left;text-align:center;margin:5px;">\
                            <a :href="url(goods,true)">{{goods}}</a>\
                        </div>\
                    </div>\
                    <div v-else>\
                        <a :href="url(info.name,false)"><img :src="img_src(info.name)" style="width:180px;height:100px;margin-top:5px;border-radius:5px;transition-duration:0.4s;"/></a>\
                    </div>',
                    methods:{
                        url:function(value,lv){
                            if (lv==true) return '?catagory='+ value +'&tgt=cl_lv_3'
                                else return '?catagory='+ value +'&tgt=cl_lv_2'
                        },
                        img_src:function(value){return '../pic/image1/'+value+'.png'}
                    },
                })
                var attr_show = new Vue({
                    el:"#attr_show",
                    data:{
                        attr_list:cl_lv_1,
                        img_src:"../pic/实体商品.png",
                        catagory:"",
                        lv2:{
                            backgroundColor:'white',
                            zIndex:'10',
                            width:'800px',
                            height:'370px',
                            border:'5px solid #FD9860',
                            position:'relative',
                            left:'210px',
                            top:'-168px',
                            borderRadius:'10px',
                            display:'none',
                            color:'black',
                            padding:'5px 0 0 40px',
                        },
                    },
                    methods:{
                        nav_head(name,isIcon,lv){
                            if (isIcon==true) return '../pic/'+ name +'.png'
                                else return '?catagory='+ name +'&tgt=cl_lv_'+lv;
                        },
                        show:function(catagory){
                            if (catagory != null){this.catagory = catagory}
                            if (this.catagory.cl_lv_2 != null) this.lv2.display = "block"
                        },
                        hide:function(){this.lv2.display = "none"},
                        lv2_show:function(name){
                            // border:'1px solid black',
                            if (name=="实体商品") return {width:'240px',height:'100px',float:'left',margin:'5px'}
                                else return{width:'180px',height:'150px',float:'left',margin:'5px'}
                        }
                    },
                })
            })()
        });
        </script>
