@font-face {
    font-family: msyh;
    src: url('../fonts/msyh.ttf');
}
body{margin: 0;font-family: msyh;min-width: 1203px;}
/*.row div{border: 1px solid black;}*/
a{text-decoration: none;transition-duration: 0.4s;color: black;}
a:hover{color: #FD9860;}
#goods_info .row{margin-bottom: 20px;}
.new_order{height:45px;border:none;border-radius:5px;transition-duration: 0.4s;background-color: #FFE1C9;color: #FD9860;}
.new_order:hover{background-color: #CC3333;color: white;}
.banned_order{height:45px;border:none;border-radius:5px;background-color: #cccccc;color: gray;}
#add_to_cart{height:45px;background-color:#FD9860;color:white;border:none;border-radius:5px;transition-duration: 0.4s;}
#add_to_cart:hover{background-color: #FFCC66;}
#contect{border:none;border-radius:5px;transition-duration: 0.4s;background-color: #FFE1C9;color: #FD9860;height:40px;width:100px;}
#contect:hover{background-color: #CC3333;color: white;}
.name-card{transition: 0.4s;}
.name-card:hover{box-shadow:0 0 10px gray;}

.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

#head-row{position: absolute;top: 130px;height: 400px;width: 965px;}
#user-info{float: left;width: 165px;height: inherit;}
#info{width: 160px;height: 240px;padding-left: 20px;}

#cen-row{float: left;height: inherit;width: 780px;}
#cen-bottom{float: left;border-bottom: 2px solid #FD9850;width: 750px;margin-top: 10px;margin-left: 20px;}
#bottom-tl{font-size: 22px;float: left;margin-bottom: 5px;color: #FD9850;}
#rt-new{width: 250px;height: inherit;position: absolute;top: 120px;height: 1000px;}
#new-tl{border-bottom: 2px solid #FD9850;font-size: 22px;padding-bottom: 10px;width: inherit;color: #FD9850;}

#recent{position: absolute;top: 530px;width: 780px;min-height: 400px;}
#order-head div{float:left;text-align:center;border-bottom:2px solid #FD9860;font-size:14px;}
.ibk_table{width: 100%;background-color: white;}
.ibk_table th{height: 35px;border: 1px solid #e8e8e8;border-bottom: 2px solid gray;}
.ibk_table td{border-bottom: 2px solid #e8e8e8;height: 40px;}
.ibk_table tr{transition-duration: 0.4s;}
.ibk_table tr:hover{background-color: #e8e8e8;}
