./config.php
./salted-shell/config.php
~*
salted-shell/addons/ueditor/php/upload/*
salted-shell/test.php
salted-shell/addons/ueditor/php/config.json

/works/iBeiKe-SaltedFish/salted-shell/addons/ueditor/php/config.json